body {
  background-color: rgb(166 161 161 / 13%);
}
/* :where(.css-dev-only-do-not-override-1ij74fp).ant-input,
.css-dev-only-do-not-override-1ij74fp
  .ant-select-single
  .ant-select-selector
  .ant-select-selection-search-input {
  width: 80% !important;
} */
* {
  border-radius: 1px !important;
}
.ant-pagination-item-link {
  transform: rotate(180deg);
}
:where(.css-dev-only-do-not-override-1ij74fp).ant-pagination
  .ant-pagination-item {
  background-color: white !important;
  border: 1px solid rgba(100, 99, 99, 0.13) !important;
  border-radius: 6px !important;
}
:where(.css-dev-only-do-not-override-1ij74fp).ant-pagination
  .ant-pagination-item-active {
  border-color: #16b9ff !important;
  color: #16b9ff !important;
}
:where(.css-dev-only-do-not-override-1ij74fp).ant-pagination .ant-pagination-options {
    display: none;
    margin-inline-start: 16px;
    vertical-align: middle;
}